# API keys
.env

# Dependency directory
node_modules
*lock.json

# Editors
.idea
.vscode
*.iml

# OS metadata
.DS_Store
Thumbs.db
.history/*

data/*
uploads/*
public/*
log/compress-images/*
log/errors/*
