
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Resoft</title>
        <style>
            * {
                padding: 0;
                margin: 0;
                font-family: sans-serif; 
            }
            .max-width {
                max-width: 768px;
                margin: 0 auto;
            }
            .min-width {
                min-width: 320px;
            }
            .min-height {
                min-height: 500px;
            }
            .table-title {
                background-color: #3c8dbc; 
                width: 100%;
            }
            .table-content {
                width: 100%;
                background-color: #ecf0f5;
            }
            .title {
                color: white; 
                font-size: 20px;
            }
            .text-center {
                text-align: center;
            }
            .text-left {
                text-align: left;
            }
            .text-right {
                text-align: right;
            }
            .text-bold {
                font-weight: bold;
            }
            .padding-5 {
                padding: 5px;
            }
            .border-radius-5 {
                border-radius: 5px;
            }
            .margin-auto {
                margin: auto;
            }
            .bg-white {
                background-color: #fafafa;
            }
        </style>
    </head>
    <body>
        <table class="max-width table-title">
            <tbody>
                <tr>
                    <td class="text-center padding-5">
                        <img alt="logo" style="width: 64px;">
                    </td>
                    <td class="text-left title">
                        <span class="text-bold">Resoft Sistemas:</span> Alerta de erro
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="max-width table-content">
            <tr>
                <td>
                    <!-- Exemplo -->
                    <table class="max-width">
                        <tr>
                            <td class="text-center padding-5">
                                [title]
                            </td>
                        </tr>
                        <tr>
                            <td class="padding-5">
                                <table class="min-width margin-auto padding-5 border-radius-5 bg-white">
                                    <tr>
                                        <td>[erro]</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
